/* Designer Information :
  Name : Sahedul Islam Rony
  Age  : 17 
  Language Skills : HTML 5 , CSS 3 , JavaScript , jQuery , Bootstrap , WordPress , PHP , Python 3 .
  
  All Credit gose to freelancer Nasim , My Teacher , My source of inspiration . <3
  
  
   Special Love To Mohona Noor  for Mind-blowing Color Sense <3 <3 .
   
*/
*{margin:0;
 padding:0;
}
body{
 font-family:"Times New Roman";
}
/*------- Navbar Design CSS Start------*/

.navbar-toggler{
  background: transparent;
  width:50px;
  height:60px;
  transform:translate(-10px);
}
.navbar-toggler span i{
    color:#59b603;
    font-size:30px;
}
.navbar{
  background:#fffffff6;
}

.navbar .container a.navbar-brand{
  font-size:30px;
  color:#6c0800;
  font-family:Galada,Times New Roman;
}
.navbar-brand span{
  color:#35c905;
}
.nav-item{
  transition:1s;
}
.nav-link{
  color:#e26003;
  padding-left:5px;
  padding-right:5px;
  margin:5px;
}
.nav-item:hover{
   background:#060605cf;
   border-radius:3px;
}
.nav-link:hover{
      color:#e0e1e1;
}
/*------ Navbar Design CSS End -----*/

/*--------- Slaider Design CSS Start----*/
.my-slaider{
margin-top:74px;
}
.carousel-caption{
  bottom:120px;
}
.carousel-item img {
  width:100%;
  height:400px;
}
.carousel-caption h5{
  font-family:'Galada', cursive;
  font-size:40px;
  text-transform:uppercase;
}
.carousel-caption h5,.carousel-caption p{
  color:#6c0800;
}
.carousel-caption .C_text{
  font-size:26px;
  background:#d8d8d879;
  border-radius:15px;
}
.carousel-caption p a{
  color:#1e2426de;
  background:#e3e3e3;
  padding:10px;
  text-decoration:none;
  border-radius:8px;
}
.carousel-caption p span{
  font-weight:bold;
  font-style:italic;
}
.web_design{
  left:40px;
  bottom:70px;
  width:450px;
}
/*--------- Slaider Design CSS End------*/

/*-------- Footer Section Design Start------*/
footer{
  background:#343b3ccf;
  color:#ffffff;
}
.footer_heading{
  text-align:center;
  background:#414849;
  color:#d3d3d3;
  padding-top:5px;
  
}
.footer_heading h4{
  font-size:15px;
}
.my_info{
  padding:15px;
}
.my_info h4{
  padding-top:10px;
  text-align:center;
}
.my_info p i{
  transform:translateY(-5px);
  font-size:18px;
  color:#e89d00;
}
.my_info p{
  padding-top:20px;
  color:#d2d2d2c2;
  
}
.my_info p span{
  font-style:italic;
  font-weight:bold;
}
.info_link h4{
  padding:10px 5px;
}
.link_box a i{
  color:#ffb854;
}
.info_link h4{
  padding-left:40px;
  padding-top:10px;
}
.info_link{
  padding:15px;
}
.link_box{
  padding-left:15px;
}
.link_box span{
  margin-left:10px;
  color:#d2d2d2c2;
  
}
.link_box a{
  text-decoration:none;
}
.link_box:hover{
   border-left:4px solid #dec00a;
   border-radius:4px;
   -moz-border-radius:4px;
}
.my_info h4,.info_link h4{
  font-family:'Galada';
  color:#c8d1d4;
}
/*--------- Footer Section Design End------*/