strong#Wish{
color:blue;}
strong.aa{color:gray;}
strong.vv{color:red;}
strong.mm{color:maroon;}
strong#bb{color:blue;}
marquee#kl{color:red;}
marquee#kj{color:lime;}
a{color:lime;}

div#fb{
color:white;
background-color:blue;
width:100%;
height:30px;
}
strong.gg{
font-size:28px;

}