   :root{
  --ff:'Galada', 'Times New Roman';
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
body{
}
.mainWrapper {
  width:100vw;
  height:100vh;
  position:relative;
  
}
.main{
  font-family:'Galada','Times New Roman';
  color:#8a8a8a;
  width:500px;
  min-height:500px;
  transition:2s;
  display:none;
  position:absolute;
  animation-delay:2s;
  border:2px solid #919191;
  border-radius:20px;
  top:30px;
  left:20%;
  z-index:2;
  box-shadow:-10px 20px 25px 2px #d8d8d8;
}

.textW  span:nth-child(2n+1){
  color:#fac040;
}
.textW p:nth-child(2){
  font-size:20px;
  text-align:center;
}
.textW span:nth-child(2){
  color:#c9c9c9;
}
.text p:nth-child(3){
  font-size:30px;
  text-align:center;
  margin-top:20px;
}

#year{
  color:#ff6600;
  font-size:50px;
  padding-left:8px;
}
.textW p:nth-child(5){
  color:#cf4000;
  font-size:22px;
}
.textW p:last-child{
  color:#ffb650;
  font-size:20px;
}
.text{
  width:100%;
  padding:25px;
  display:flex;
  justify-content: center;
  align-items:center;
}
.fas{
  font-size:100px;
  color:#ff3f00;
}
.far{
  font-size:20px;
  color:#ff7a00;
}
.intro{
  width:500px;
  min-height:700px;
  text-align:center;
  transition:2s;
  animation-duration:2s;
  border:2px solid #919191;
  z-index:5;
  margin:auto;
  position: absolute;
  top:10px;
  left:20%;
  border-radius:20px;
  box-shadow:-10px 20px 25px 2px #d8d8d8;
 }
.intro h3{
  font-family:var(--ff);
  font-size:30px;
  color:#ff7a00;
  margin-top:50px;
  text-align:center;
}
.intro .fas{
  text-align:center;
  font-size:100px;
  color:#ff4c00;
  margin-top:20px;
}
.intro p{
  text-align:center ;
  margin-top:15px;
  font-family:var(--ff);
  font-size:30px;
  color:#ff3b00;
}
.wrapper{
  width:100%;
  padding-top:55px;
  margin:auto;
  position:relative;
  display:flex;
  justify-content: center;
  
}
.wrapper .box{
  position:absolute;
  width:200px;
  height:200px;
  border-radius:5px;
  text-align:center;
  font-family:var(--ff);
  font-size:30px;
}
.wrapper div:last-child{
  border:3px solid #cf5600;
  transform:rotate(45deg);
}
.wrapper div:first-child{
  border:3px solid #f7cd01;
  display:grid;
  place-items:center;
}
.wrapper div:first-child a{
  color:#676767;
  text-decoration: none;
}