@import url(https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Galada&display=swap);

/* Table start */
.thead-col{
     background:#000000;
     color:#ffffff;
     font-size:10px;
}
.thead-col th{
     border-left:2px solid #01c5f6;
}

.table-sec h4{
     color:#495051;
     text-align:center;
     line-height:50px;
     padding-top:20px;
     font-family:'Galada';
}
tbody td{
     border-left:2px dotted #01c5f6;
}
td{
     text-align:center;
     color:#757778;
     
}
th{
     color:#01c5f6;
}

table {
     border:2px dashed #01c5f6;
}
.table-sec{
     padding-bottom:10px;
     font-family:'Galada';
     margin-top:8px;
     
}
.firstTable{
     overflow-x:scroll;
     overflow-Y: hidden;
}
.colSpan{
     transform: translateY(160px);
     align-content: center;
     
}
.secondTable{
     padding-top:30px;
}
.secondTable h4{
     text-align:center;
}
th{
     text-align: center;
}
a:visited{
     color:#f53d05cb;
}
td.masg{
     border-top:2px solid #01c5f6 !important;
}
.designe{
     margin-top:74px;
     width:100%;
     height:400px;
}
.mas{
     position:absolute;
     top:290px;
     left:42%;
}
.mas h3{
     font-family:'Galada';
     color:#000000;
     font-size:35px;
}
/* Table end */

