/*

   @keyframes hireMeBtn {
     0%{ transform:scale(1) }
     50%{ transform:scale(1.23) }
     100%{ transform:scale(1) }
   }
   
@keyframes spinningStar {
  0%{ transform:rotate(0deg); 
      background:#00ccff; 
  }
  50%{
    background:#ff9c00;
  }
  100%{ transform:rotate(-360deg) ;
        background:#00ff7f;
  }
}
*/
