section.contentMe {
  width:1200px;
  height:110rem;
  background:#333;
}
section.contentMe > h2.sectionHeading {
  font-family : var(--fReg);
  font-size : 4.5rem;
  text-align:center ;
  line-height:15rem;
  text-transform: capitalize;
  color:#00ccff;
}
section.contentMe > .mainDiv {
  width:90%;
  height:90rem;
  margin:auto;
  display:grid;
  grid-template: 100% / 50% 50%;
}
section.contentMe > .mainDiv .form {
  border:1px solid red;
  display:grid;
  place-items: center;
  border-radius:1.5rem;
  border-top-left-radius:5rem;
  border-bottom-left-radius:5rem;
  overflow:hidden;
  background:#fff;
}
section.contentMe > .mainDiv .form > form.mainForm{ 
  width:90%;
  height:90%;
  background:transparent;
}
input , textarea {
  border:1.5px solid #00303c;
  border-radius:1rem;
  font-family:var(--fReg);
  font-size:2.5rem;
  padding-left:1rem;
  outline:none;
}
input:focus ,textarea:focus {
  outline:none;
  border-color:#00ccff;
  box-shadow:1px 1px 10px 1px #00ccff;
}

 form.mainForm .nameGroup , form.mainForm .emailGroup , form.mainForm .textareaGroup {
  width:100%;
  padding:0 2rem;
}
input[id="fname"] , input[id="lname"] , input[id="email"]{
  width:100%;
  height:5rem;
  margin-top:.5rem;
}
textarea {
  width:100%;
  height:25rem;
  margin-top:.5rem;
  padding-top:1rem;
  padding-left:1rem;
}
label {
  font-family:var(--fh);
  font-size:3rem;
  color:#000;
}
#nameErr , #emailErr , #textareaErr {
  width:100%;
  padding:1.5rem;
  font-family:var(--fReg);
  font-size:2rem;
  font-style: italic;
  font-weight: bold ;
  padding-left:.5rem;
  color:#ff004c;
  display:block;
}
button[type='submit'] {
  width:7rem;
  height:7rem;
  border-radius:50%;
  display:grid;
  place-items: center;
  margin-top:1.5rem;
  background: transparent;
  border:1px solid #ff5c00;
}
button[type='submit'] i {
  font-size:4rem;
  color:#ff5c00;
}
button[type='submit']:hover {
  background:#ff5c00;
}
button[type='submit']:hover  .fa-paper-plane {
  color:#fff
}
  .fnameDiv ,  .lnameDiv  , .textareaGroup{
  position: relative;
 }
 form.mainForm .nameGroup  i  {
   font-size:2.5rem;
   position:absolute;
   bottom:1.3rem;
   right:1.5rem;
 }
 form.mainForm .emailGroup  .wrapper  {
   width:100%;
   position: relative;
 }
 form.mainForm .emailGroup .wrapper  i  {
   font-size:2.5rem;
   position:absolute;
   bottom:1.3rem;
   right:1.5rem;
 }
 
 form.mainForm i.fa-check-circle {
   color:#03ca3d;
 }
 form.mainForm i.fa-times-circle {
   color:#ff4c00
 }
 /* Success Design */
 form.mainForm .nameGroup .fnameDiv.success input {
   border-color:#03ca3d;
  }
 form.mainForm .nameGroup .lnameDiv.success input {
   border-color:#03ca3d;
  }
 form.mainForm  .emailGroup.success input {
   border-color:#03ca3d;
  }
 form.mainForm  .textareaGroup.success textarea{
   border-color:#03ca3d;
  }
 
 /* Error Design */
 form.mainForm .error input:focus , form.mainForm .error textarea:focus {
   border-color:#ff4c00;
   box-shadow:1px 1px 10px 1px #ff4c00;
 } 
 form.mainForm .nameGroup .fnameDiv.error input {
   border-color:#ff4c00;
 }
 form.mainForm .nameGroup .lnameDiv.error input {
   border-color:#ff4c00;
 }
 form.mainForm .emailGroup.error input {
   border-color:#ff4c00;
 }
 form.mainForm .textareaGroup.error textarea {
   border-color:#ff4c00;
 }
 button:disabled {
   border-color:#333;
   pointer-events: none;
 }
 button:disabled i {
   color:#333;
 }
 
section.contentMe > .mainDiv .textBox {
 border-radius:1.5rem;
 border-top-right-radius:5rem;
 border-bottom-right-radius:5rem;
 display:grid;
 place-items:center;
 background:#000;
}
section.contentMe > .mainDiv .textBox .textWrapper {
  width:90%;
  margin:auto;
}
 section.contentMe > .mainDiv .textBox .textWrapper p {
   font-family:var(--fReg);
   font-size:2.5rem;
   padding:1rem;
   color:#fff;
 }
 section.contentMe > .mainDiv .textBox .textWrapper p:first-child {
   font-size:4rem;
   color:#ff5c00;
   font-weight:bold;
   word-spacing:1.3rem;
 }
 section.contentMe > .mainDiv .textBox .textWrapper p:nth-child(3) {
   font-size:3rem;
   font-weight:bold;
   color:#ff5c00;
 }
section.contentMe >  .mainDiv .textBox .textWrapper h3 {
    margin-top:2rem;
    font-family:var(--fSig);
    font-size:4.2rem;
    padding-left:1.5rem;
    color:#d7d7d7;
  }
  