

/* For Controle extra large Device Start */
@media (min-width:1210px) {
  
body {
  background:#262727;
  display:grid;
  justify-content: center;
}
section#pageWrapper {
  box-shadow:-1rem 0 20px .5rem #626a6c,1rem 0 20px .5rem #626a6c;
}
}
/* For Controle extra large Device End*/
