
#service {
  max-width:1200px;
  height:180rem;
  position: relative;
  background-image:linear-gradient(#000,#000,#014b5d);
  z-index:5;
}

#service::before {
  content:' ';
  position: absolute;
  top:0;
  left:0;
  width:50%;
  height:50%;
 background-image: linear-gradient(#051937, #133f68, #196a9b, #149ace,#00ccff);
  clip-path: circle(45rem at 0 0) ;
  -webkit-clip-path:circle(45rem at 0 0) ;
}
#service::after {
  content:' ';
  position: absolute;
  bottom:0;
  right:0;
  width:50%;
  height:50%;
 background-image: linear-gradient(to left bottom, #051937, #133f68, #196a9b); 
  clip-path: circle(60rem at 100% 100%);
  -webkit-clip-path: circle(60rem at 100% 100%);
}
#service > span {
  position: absolute;
  width:25rem;
  height:25rem;
  background:#ff006d;
  z-index:2;
}

#service > span#topSpan {
  top:5rem;
  left:75%;
  clip-path:circle(12rem at 50% 50%);
  -webkit-clip-path:circle(12rem at 50% 50%)
 }
#service > span#middleSpan {
  top:40%;
  left:39%;
  background:#00b4e1;
 clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
 -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
 transform-origin:center;
 /*
 animation-name: spinningStar;
 animation-iteration-count: infinite;
 animation-duration:5s;
 animation-timing-function: linear;
 */
}
#service > span#bottomSpan{
  bottom:0;
  left:0;
  clip-path: circle(10rem at 50% 50%);
  -webkit-clip-path: circle(10rem at 50% 50%);
}
#service > h2.sectionHeading {
  font-family:var(--fReg);
  font-size:4rem;
  text-align:center;
  line-height:20rem;
  color:#f3f3f3;
  transition:color .2s;
}
#service > h2.sectionHeading span {
  padding:1.5rem 2.5rem;
  position: relative;
}

#service > h2.sectionHeading span::before {
  content:' ';
  width:12rem;
  height:.5rem;
  position: absolute;
  top:48%;
  left:-45% ;
  border-radius :1rem;
  background:#00ccff;
}
#service > h2.sectionHeading span::after{
  content:' ';
  width:12rem;
  height:.5rem;
  position: absolute;
  top:48%;
  right:-45% ;
  border-radius :1rem;
  background:#00ccff;
}
.serviceSec .mainDiv {
  width:100rem;
  margin:auto;
  margin-top:3.5rem;
  display:grid;
  grid-template-rows:repeat(3,45rem);
  grid-template-columns:repeat(2,40rem) ;
  justify-content: space-around;
  grid-row-gap: 4.5rem;
  background:transparent;
}
.serviceSec .mainDiv .serviceCard { 
  display:grid;
  place-items:center;
  border:.2rem solid #ffffffdb; 
  border-radius:.5rem;
  border-top-left-radius:8rem;
  background:hsla(0,0%,100%,0.3);
  backdrop-filter: blur(10px);
  transition:.5s;
  box-shadow:1px 1px 25px 1px #e5e5e5;
  z-index:4;
}
.serviceSec .mainDiv .serviceCard .serviceIcon {
  width:10rem;
  height:10rem;
  border-radius:50%;
  border:.3rem solid #fff; 
  display:grid;
  place-items:center;
  transition:.4s;
  
}
.serviceSec .mainDiv .serviceCard .serviceIcon  i{
  font-size:6rem;
  color:#00ccff;
  transition:.4s;
  
}
.serviceSec .mainDiv .serviceCard h2 {
  font-family:var(--fReg);
  font-size:3.3rem;
  text-align:center;
  color:#00ccff;
  text-shadow:0px 5px 5px #4a4d4d;
  transition:.4s;
  
}
.serviceSec .mainDiv .serviceCard p {
  padding:0 2.5rem;
  font-family:var(--fReg);
  font-size:3rem;
  color:#eff0f0;
  padding-top:2rem;
}
/* Hover Effects */
#service > h2.sectionHeading:hover {
  color:#00ccff
}
.serviceSec .mainDiv .serviceCard:hover {
border-color:#00ccff;
  
}
.serviceSec .mainDiv .serviceCard:hover h2{
  color:#fff;
}
.serviceSec .mainDiv .serviceCard:hover p{
  color:#fff
}
.serviceSec .mainDiv .serviceCard:hover .serviceIcon {
  border-color:#00ccff;
  box-shadow:1px 1px 20px 4px #00ccff,inset 1px 1px 20px 1px #00ccff;
}
.serviceSec .mainDiv .serviceCard:hover .serviceIcon i {
  color:#fff;
}