*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  scroll-behavior: smooth;
  font-size:62.5%;
}
::selection {
  background:#000709;
  color:#17cbf8;
}
:root{
  --scol: #fcff00 ; /* Same color for multiple elements */
  --yellow : #eeff00;
  --black : #000000 ;
  --blue:#00ccff;
  --h :70rem ; /* Row height */
  --fReg :'PT Serif', serif; /* For All Text */
  --fh : 'Galada', cursive;  /* For Heading */
  --fSig : 'Tangerine', cursive; /* For Signature */
}

body > section#pageWrapper {
  max-width:1200px;
}